<br>
</div>
</div>
</div>
</div>
<footer class="logo-sfdc">
    <ul class="list-inline">
       <li> <a href="https://www.facebook.com/rehnan.carolino" target="_blank"> <%= icon('facebook-square fa-3x', '', id: 'facebook-icon', class: 'strong') %> </a> </li>
       <li> <a href="https://plus.google.com/u/0/105131695720441296528" target="_blank"> <%= icon('google-plus-square     fa-3x', '', id: 'google-icon', class: 'strong') %> </a> </li>
       <li> <a href="https://www.linkedin.com/in/rehnan-carolino-b1275880" target="_blank"> <%= icon('linkedin-square     fa-3x', '', id: 'linkedin-icon', class: 'strong') %> </a> </li>
       <li> <a href="https://github.com/rehnan" target="_blank"> <%= icon('github-square     fa-3x', '', id: 'github-icon', class: 'strong') %> </a> </li>
   </ul>
   <font color="white"> Copyright &copy; 2015 - 2016 Rehnan Carolino </font>
</footer>

