<div class="page-wrap gradient-primary">
  <div class="container">
    <h1 class="logo"><a href="https://www.heroku.com" title="Heroku">Heroku</a></h1>
    <div class="content">
      <div class="panel" id="login">
        <h3>Log in to your account</h3>
        <form action="/login" method="post" role="form">
          <input name="_csrf" type="hidden" value="Tco1QeVg8J3HsyEyjBeB5vm+1pJfxmZDvG9+n6sDkS4=">
          <div class="form-group">
            <label for="email">Email address</label>
            <div class="input-icon icon-username"></div>
            <input autofocus="true" class="form-control" id="email" name="email" placeholder="Email address" tabindex="1" type="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-icon icon-password">
            </div>
            <input autocomplete="off" class="form-control password" id="password" name="password" placeholder="Password" tabindex="2" type="password">
          </div>
          <button class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit" value="Log In">Log In</button>
        </form>
        <a class="panel-footer" href="/signup/login">New to Heroku? &nbsp;<span>Sign Up</span></a>
      </div><a href="https://sso.heroku.com/login">Log in via SSO</a>
      <a href="/account/password/reset" style="margin-left: 25px">Forgot your password?</a>
    </div>
  </div>
</div>
